# Entorno virtual
venv/

# DVC cache (no subir datos pesados)
.dvc/cache/
.dvc/tmp/

# Archivos de datos pesados
data/raw/*.csv
data/processed/*.csv

# Modelos: binarios versionados con DVC (se rastrean los .dvc, no los .txt)
models/**/*.txt

# Variables de entorno y secretos
.env
*.json
!dvc.yaml
!metrics/*.json

# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# W&B local
wandb/
artifacts/